.mainContainer {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 30px;

    /* justify-items: center; */
}

.mainContainer header {
    justify-content: center;
}

