.App {
  text-align: center;
  background-size: cover;
  /* background-position: top; */
  /* background: fixed; */
  background-position: center;
  background-repeat: no-repeat;

  /* background-image: url(/images/images/lego_christmas_bg_1.png); */
}

/* @media (prefers-reduced-motion: no-preference) {

} */

